

.headercontenido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    padding-left: 10px; 
}


.left{
    display: flex;
    text-decoration: none;
 
}

.fotoperfilchatheader{
    width: 45px;
    height: 45px;
    border-radius:150px;
    border:1px solid #ded7d7;
}

.nombreyestado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}

.nombre{
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    font-style: normal;
    padding-right: 20px;
    color:#111B21;
}

.contactoestado{
    display: flex;
    font-size: 10px;
    align-items: flex-start

}


.right{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-left: auto;
}

.camaramarco{
    display:flex;
    justify-content: space-between;
    border-radius: 15px;
    width: 60px;
    height: 35px;
    border: 1px solid;
    border-color: #DEE2E6;
    padding-left: 12px;
    padding-right: 12px;
    

}

.camara{
    font-size: 18px;
    color:#A2ACB2;
    display: flex;
    align-items: center;
    padding-top: 4px;
}

.flechaabajo{
    font-size: 7px;
    color:#A2ACB2;
    display: flex;
    align-items: center;
    padding-top: 3px;
}


.lupa{
    display: flex;
    align-items: center;
    padding-right: 2px;
    color:#54656F;
    padding-top: 3px;
    font-size: 18px;
}

.mas{
    padding-right: 20px;
    display: flex;
    align-items: center;
    color:#54656F;
    padding-top: 3px;
    font-size: 18px;
}


/* Large Desktops */
@media screen and (max-width: 1200px) { 
    .nombre{
        font-size: 14px;
    }
}


@media screen and (max-width: 992px) { 
    .camaramarco{
        width: 50px;
    }
    .camara{
        font-size: 10px;
    }
    .lupa{
        font-size: 10px;
    }
    .mas{
        font-size: 10px;
    }
}

@media screen and (max-width: 680px) {
    .right{
        justify-content: flex-end;
        gap: 10px;
        width: 50px;
    }
    .camaramarco{
       display: none;
    }
    .camara{
        display: none;
    }
  }


@media screen and (max-width: 480px) {
    .right{
        justify-content: flex-end;
        gap:0px;

    }
    .fotoperfilchatheader{
        width: 35px;
        height: 35px;
    }
    .nombre{
        font-size: 10px;
        padding-right: 0px;
    }
}



@media screen and (max-width: 320px) {
    .right{
        justify-content: flex-end;
        gap:3px;

    }
    .headercontenido{
        width: 260px;
    }

}