.formnuevomensaje{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    width: 95%;
    gap:20px;
}


.emoji{
font-size: 25px;
color:#54656F;
}


.signomas{
    font-size: 40px;
    color:#54656F;
}

.nuevomensaje{
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #54656F;
    margin: 0 10px;
}



.botonenviar{
    color: #54656F;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    padding:0;
    margin:0;
}

.botonenviar:hover,
.botonenviar:active,
.botonenviar:focus {
    border: none; 
    background: none;
    outline: none;
}




@media screen and (max-width: 1200px) { 
   
    .signomas{
        font-size: 25px;
    }
    .emoji{
        font-size: 18px;
        }
        .botonenviar{
            font-size: 18px;
        }
}



@media screen and (max-width: 992px) { 
   
    .signomas{
        font-size: 25px;
    }
    .emoji{
        font-size: 18px;
        }
        .botonenviar{
            font-size: 18px;
        }
        .nuevomensaje{
            width: 75%;
        }
}


  @media screen and (max-width: 768px) { 
    .formnuevomensaje{
        width: 460px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1px;
        padding-left: 0px;
    }
    .nuevomensaje{
        width: 75%;
    }
   
    .signomas{
        display: none;
    }
    .emoji{
        font-size: 12px;
        }
        .botonenviar{
            font-size: 15px;
        }
  }

  @media screen and (max-width: 480px) { 
    .formnuevomensaje{
        padding: 5px;
        justify-content: space-evenly;
    }
    
    .nuevomensaje{
        width: 75%;
    }
   
    .signomas{
        display: none;
    }
    .emoji{
        font-size: 12px;
        }
        .botonenviar{
            font-size: 12px;
        }
  }


@media screen and (max-width: 320px) { 
   
    .formnuevomensaje{
        width: 260px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1px;
        padding: 10px;
    }
    .nuevomensaje{
        width: 190px;
    }
    .signomas{
        display: none;
    }
}