*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.chatcontenedor{
    width: 1200px;
    

}

.header{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: #F0F2F5 ;
    position: fixed; 
}


.chat{
    width:100%;
    min-height: 880px;
    max-height: 880px;
    background-image: url(/images/fondows.jpg);
    background-repeat: repeat;
    background-position: center;
    overflow-y:scroll;
    }

    .footer{
        display: flex;
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        background-color: #F0F2F5 ;
        position: fixed; 
    }
 
    ::-webkit-scrollbar {
        width:7px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color:#C1BFBA;
    }

    .contenedorlistadocontactos{
        width: 800px;
    }

    .headercontactos{
        display: flex;
        width: 800px;
        height: 60px;
        align-items: center;
        background-color: #F0F2F5 ;
        position: fixed;
    }

    .listadocontactos{
        width:100%;
        height:940px;
        background-color: white;
        overflow-y: scroll;
        border-bottom: 1px solid #F2F4F5;
        padding-top: 60px;
    
        }

 
    @media screen and (max-width: 320px) { 
       
        .contenedorlistadocontactos{
            width: 60px;
        }
    
        .headercontactos{
            width: 60px;
        }
    
        .listadocontactos{
            width:60px;
            background-color: white;
            overflow-y: scroll;
            overflow-x: hidden;
            border-bottom: 1px solid #F2F4F5;
            padding-top: 60px;
  
        
        
            }

            .chatcontenedor{
                width: 260px;
                overflow-y: hidden;
                overflow-x: hidden;
            
            }
            
            .header{
                width: 260px;

            }
            
            
            .chat{
                width:260px;

                }
            
                .footer{
                    width: 260px; 
                }
    
    }

    
    





    

    