@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    text-decoration: none;
}

.cajacontacto{
    display:flex;
    width: 540px;
    height: 60px;
    align-items: center;
    font-size: 10px;
    background-color: white;
    border-top: 1px solid #F2F4F5;
    border-bottom: 1px solid #F2F4F5;
    }

    .cajacontacto:hover {
        background-color: #F0F2F5;
        
      }


.fotoperfilcontactos{

    padding-left: 5px;
    width: 40px;
    height: 35px;
    
}

.cuerpocontacto{
    display: flex;
    align-items: center;
    padding:5px;
  
}


.nombreyultimomensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2px;
    padding-left: 5px;
    
}

.nombrecontacto{
    color: black;
    width:200px;
    
}

.ultimomensaje{
    color: #667781;
}


.fechacontacto{
    display:flex;
    align-items: center;
    padding-left: 230px;
    color: #667781;
    font-size: 11px;
}





