@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    text-decoration: none;
}

.cajacontacto{
    display:flex;
    width: 38vw;
    height: 90px;
    align-items: center;
    font-size: 10px;
    background-color: white;
    border-top: 1px solid #F2F4F5;
    border-bottom: 1px solid #F2F4F5;
    padding-left: 5px;
    }

    .cajacontacto:hover {
        background-color: #F0F2F5;
        
      }


.fotoperfilcontactos{

    
    width: 45px;
    height: 45px;
    border-radius:150px;
    border:1px solid #ded7d7;
}

.cuerpocontacto{
    display: flex;
    width: 38vw;
    justify-content: flex-start;
    align-items: center;
    padding:5px;
  
}


.nombreyultimomensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2px;
    padding-left: 10px;
    
}

.nombrecontacto{
    color: black;
    width:200px;
    
}

.ultimomensaje{
    color: #667781;
}


.fechacontacto{
    color: #667781;
    font-size: 11px;
    margin-left: auto;
    padding-right: 10px;
    white-space: nowrap;

}



/* Large Desktops */
@media screen and (max-width: 1200px) { 
    .cajacontacto{
        overflow-x:hidden;
        height: 60px;
    }


    .fotoperfilcontactos{
        width: 42px;
        height: 42px;
        border-radius:150px;
        border:1px solid #ded7d7;
    }
}


/* Desktops */
@media screen and (max-width: 992px) { 
    .cajacontacto{
        overflow-x:hidden;
        height: 60px;
        padding-left: 0px;
    }
    .fotoperfilcontactos{

    
        width: 42px;
        height: 42px;
        border-radius:150px;
        border:1px solid #ded7d7;
    }
}


  /* Tablets */
  @media screen and (max-width: 768px) { 
    .cajacontacto{
        overflow-x:hidden;
        height: 60px;
        padding-left: 0px;
    }
    .fotoperfilcontactos{

    
        width: 38px;
        height: 38px;
        border-radius:150px;
        border:1px solid #ded7d7;
    }
  }


  @media screen and (max-width: 750px) {
    .fechacontacto{
        display: none;
    }
  }

  @media screen and (max-width: 680px) {
    .ultimomensaje{
        display: none;
    }
    .nombrecontacto{
        font-size: 10px;
    }
  }


  @media screen and (max-width: 480px) {
    .nombrecontacto{
        font-size: 8px;
        font-weight: 400;
    }
    .nombreyultimomensaje{
        padding: 3px;
     }
  }




@media screen and (max-width: 320px) { 

    .cajacontacto{
        width: 39vw;
        overflow-x:hidden;
        display:flex;
        height: 60px;
        padding-left: 0px;
    }
    .cuerpocontacto{
        display: flex;
        width: 60px;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        padding-right: 10px;
      
    }

    .nombreyultimomensaje{
        padding-left: 10px;
     }
    
    .nombrecontacto{
        color: black;
        width:60px;
        font-size: 8px;
        font-weight: 100;
        text-align: center;
        padding-right: 10px;
    }
    
    .ultimomensaje{
        display: none;
    }
    
    
    .fechacontacto{
        display: none;
    }

    .fotoperfilcontactos{
         width: 25px;
        height: 25px;
        border-radius:150px;
        border:1px solid #ded7d7;
  
    }
}


