
.infocontenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    gap: 15px;
    color:black;
    background-image: url(/images/fondoinfoscreen.jpg);
    background-repeat:repeat-x;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 100px;
}

.headerinfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90vw;
    height: 30px;
    gap: 20px;
    padding-left: 25px;
    background-color: white;
    font-size: 18px;
}

.close{
    font-size: 24px;
    cursor: pointer;
    border-style: hidden;
    background-color: white;
    padding-top: 3px;
}

.fotoperfilgrande{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    width: 90vw;
    height: 500px;
    background-color: white;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    padding-bottom: 10px;
}


.nombreperfil{
    font-size: 35px;
}

.telefonoperfil{
    font-size: 18px;
    color:#797b7c
}

.fotogrande{
    height: 180px;
    border-radius:150px;
    border:5px solid #ded7d7;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
    height: 100px;
    padding: 25px;
    background-color: white;
    color:#a1a3a4;
    gap: 5px;
}

.infofrase{
    font-size: 16px;
    font-weight: bold;
    color:black
}

.archivos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 80px;
    padding: 30px;
    background-color: white;
    color:#a1a3a4
}

.otros{
    display:flex;
    flex-direction: column;
    width: 90vw;
    height: 380px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap: 20px;
    padding: 25px;
}

.destacados{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    padding: 10px;
    gap: 25px;
}

.destacadosleft{
    display:flex;
    gap: 20px;
}

.silenciar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    padding: 10px;
    gap: 25px;
}

.silenciarleft{
    display:flex;
    gap: 20px;
}

.toggle{
    font-size: 25px;
    color:#585858;
    cursor: pointer;
}

.temporales{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    padding: 10px;
}

.temporalesleft{
    display:flex;
    gap: 20px;
}

.cifrado{
    display: flex;
    align-items: center;
    height: 95px;
    padding: 10px;
    gap: 20px;
}


@media screen and (max-width: 320px) { 
    .infocontenedor{
        gap: 5px;
        padding-top: 25px;
        justify-content: flex-start;
        
    }
    .headerinfo{
        display: flex;
        justify-content: flex-start;
        width: 75vw;
        gap: 10px;
        padding-left: 0px;
        font-size: 10px;
    }
    .close{
        font-size: 15px;
        cursor: pointer;
        padding-top: 2px;
    }
    .infoinfo{
        color: #a1a3a4;
    }

}