.fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(/images/fondohome.jpg);
    background-repeat: repeat-x;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 1vh;
    padding-bottom: 3vh;
    z-index: 1;
}

.fondo:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.074);
    z-index: 2;
}


.logocontenedor {
    display: flex;
    align-items: center;
    width: 70vw;
    min-height: 100px;
    font-size: 32px;
    color: rgb(255, 255, 255);
    gap: 20px;
    font-weight:bold;
    padding-left: 1px;
    z-index: 2;
}

.titulomjheader{
    padding-bottom: 10px;
    font-size: 18px;
}

.Logomjheader{
    font-size: 45px;
}



.homecontenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    min-height: 550px;
    color: black;
    background-color: white;
    padding: 50px 75px 30px 75px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    gap: 50px;
    box-shadow: 0px 0px 15px 10px #47454732;
    z-index: 2;
}


.homeheader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    gap: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 12px;

}

.laptop {
    height: 95px;

}


.titulo {
    font-size: 20px;
    font-weight: 100;
}

.forminiciar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 8px;
    border-bottom: 1px solid rgb(204, 204, 204);
    
}

.descripcion1 {
    font-size: 22px;
    text-align: center;
    width: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: #728088;
}


.nuevousuario {
    width: 200px;
    height: 40px;
    border-radius: 12px;
    color: #54656F;
    font-size: 16px;
    text-align: center;
}

.error {
    width: 200px;
    height: 40px;
    color: rgb(220, 12, 12);
    text-align: center;
    font-size: 12px;
}

.iniciar {
    width: 160px;
    height: 40px;
    border-radius: 50px;
    background-color: #008069;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

.version{
    font-size: 10px;
    color:rgb(168, 166, 166);
}


/* MEDIAQUERYS */

@media screen and (max-width: 992px) {
    .titulo {
        font-size: 16px;
        text-align: center;
    }

    .descripcion1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .homeheader{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 0px;
        padding-bottom: 15px;
    }
    .titulo {
        font-size: 14px;
    }
    .descripcion1 {
        font-size: 16px;
    }

    .homecontenedor {
        padding: 35px;
        width: 75vw;
    }
   
}


@media screen and (max-width: 550px) {
    .titulomjheader{
        font-size: 15px;
    }
    
    .Logomjheader{
        font-size: 40px;
    }

    .titulo {
        font-size: 13px;
    }

    .nuevousuario {
        font-size: 14px;
        width: 180px;
    }

    .homecontenedor {
        width: 80vw;
        height: 50vh;
    }

}



