
.fondo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2000px;
    height: 1000px;
    background-image: url(/images/fondohome.jpg);
    gap: 20px;
}


.logocontenedor{
    display: flex;
    align-items: center;
    width: 1800px;
    height: 180px;
    font-size: 30px;
    color: white;
    gap: 20px;
    font-weight: bold;
}



.homecontenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1800px;
    height: 750px;
    color: black;
    background-color: white;
    padding: 100px;
    border-radius: 20px;
    border: 1px solid rgb(204, 204, 204);
    gap: 60px;
}


.homeheader{
    display: flex;
    align-items: center;
    width: 1600px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #D1D7DB ;
    padding-left: 40px;
    gap:20px;
  
}

.laptop{
    height: 110px;
 
}


.titulo{
    font-size:40px;
    font-weight: 100;
}

.descripcion{
    font-size: 20px;
    color: #728088
}


.forminiciar{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titulo1{
    font-size:40px;
    font-weight: 100;
}

.descripcion1{
    font-size: 30px;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1600px;
    height: 400px;
    color: #728088;
}


.nuevousuario{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    color:#54656F;
    font-size: 20px;
    text-align: center;
}

.error{
    width: 400px;
    height: 30px;
    color: red;
    text-align: center;
}

.iniciar{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    background-color: #008069 ;
    color: white;
    font-size: 20px;
}