@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



.cajamensaje{
    display:flex;
    font-size: 10px;
    padding: 10px;
    margin: 10px;
    }


.cuerpomensaje{
    font-size: 10px;
    color:rgb(0, 0, 0);
    padding:5px;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 0px #D1CFC8;
}


.infoinferior{
    display:flex;
    justify-content: flex-end;
    font-size: 8px;
    padding-top: 3px;
}





