.menu-contactos-contenedor {
  position: relative;
}

.iconohamburguesa {
  font-size: 20px;
  cursor: pointer;
  color: #A2ACB2;
  display: none;
}

.menu {
  position: absolute;
  background-color: #F0F2F5;
  padding: 15px;
  display: none;

}

.menu.open {
  display: block;
}

ul {
  list-style: none;
  color: #54656F;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #525050;
}


.exit1 {
  color: #54656F;
  border: none;
  background: none;
  padding-top: 2px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.exit1:hover,
.exit1:active,
.exit1:focus {
  border: none;
  background: none;
  outline: none;
}




@media screen and (max-width: 620px) {
  .iconohamburguesa {
    display: inline;
  }

}